<div class="container mx-auto px-4 max-w-4xl">
  <div class="flex justify-between items-center mb-8">
    <%= image_tag "loadar-logo.svg", alt: "Loadar", class: "h-8" %>
    <h1 class="text-xl font-bold">Cart</h1>
    <%= button_to "Reset", 
        cart_path, 
        method: :delete, 
        class: "text-gray-600 hover:text-gray-800" %>
  </div>

  <% if @cart.cart_items.any? %>
    <div id="cart-items">
      <%= render partial: "cart_items/cart_item", 
                 collection: @cart.cart_items %>
    </div>
    <%= render "total" %>
  <% else %>
    <%= render "empty_state" %>
  <% end %>
</div>